%h1 Accounts

%table
  %tr
    %th API Key
    %th Verification Code
    %th Characters
    %th
    %th

  - @accounts.each do |account|
    %tr
      %td.eve_key_id= account.eve_key_id
      %td.eve_verification_code= account.eve_verification_code
      %td.eve_characters Onicov, Onicca
      %td= link_to 'Edit', edit_account_path(account)
      %td= link_to 'Delete', account, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Account', new_account_path
